@tailwind base;
@tailwind components;
@tailwind utilities;

button.remove {
  color: red;
}

.actions {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

input,
button {
  border: 1px solid #e3e3e3;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}

.itemForm {
  margin-top: 0.5rem;
}

.label {
  font-size: 85%;
  margin-bottom: 0.25rem;
  display: block;
}

.form {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  padding: 0.5rem;
  border: 1px solid lightgray;
  margin-top: 0.5rem;
}

.form > input {
  flex-grow: 1;
}

.actionsCell {
  vertical-align: top;
}

.field {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}
